In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key
%matplotlib inline

In [2]:
# Store the CSV in DF
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Vengerovo,RU,2022-07-01 17:52:54,55.6848,76.7471,53.13,95,99,14.63
1,1,Barrow,US,2022-07-01 17:52:54,71.2906,-156.7887,46.42,76,0,9.22
2,2,Port Alfred,ZA,2022-07-01 17:52:55,-33.5906,26.8910,66.18,49,0,1.01
3,3,Rikitea,PF,2022-07-01 17:52:55,-23.1203,-134.9692,71.98,72,52,16.71
4,4,Ilulissat,GL,2022-07-01 17:52:55,69.2167,-51.1000,43.81,64,96,2.77

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

# Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30,31), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Humidity Heatmap

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Percent Cloudiness Heatmap

In [7]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Create a Wind Speed Heatmap

In [8]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# Get Vacation Criteria

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Wajir,KE,2022-07-01 17:52:56,1.7471,40.0573,82.36,51,0,4.61
9,9,Victoria,HK,2022-07-01 17:50:13,22.2855,114.1577,82.33,91,100,23.00
10,10,Bandarbeyla,SO,2022-07-01 17:52:57,9.4942,50.8122,77.47,76,82,31.47
14,14,Pangoa,PE,2022-07-01 17:52:59,-12.1167,-73.0000,84.38,46,64,4.25
23,23,Zavallya,UA,2022-07-01 17:53:03,48.2135,30.0156,76.96,46,17,5.86
26,26,Gat,IL,2022-07-01 17:53:05,31.6100,34.7642,79.81,100,0,6.93
36,36,Atuona,PF,2022-07-01 17:53:10,-9.8000,-139.0333,77.23,70,27,11.14
37,37,Polis,CY,2022-07-01 17:53:12,35.0367,32.4264,79.29,72,0,5.55
40,40,Otradnoye,RU,2022-07-01 17:53:14,59.7775,30.8181,80.65,65,36,4.41
46,46,Hilo,US,2022-07-01 17:53:17,19.7297,-155.0900,79.61,77,92,3.00

# Get Travel Destinations

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
5         Wajir      KE     82.36   1.7471   40.0573
9      Victoria      HK     82.33  22.2855  114.1577
10  Bandarbeyla      SO     77.47   9.4942   50.8122
14       Pangoa      PE     84.38 -12.1167  -73.0000
23     Zavallya      UA     76.96  48.2135   30.0156
26          Gat      IL     79.81  31.6100   34.7642
36       Atuona      PF     77.23  -9.8000 -139.0333
37        Polis      CY     79.29  35.0367   32.4264
40    Otradnoye      RU     80.65  59.7775   30.8181
46         Hilo      US     79.61  19.7297 -155.0900

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [17]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Wajir,KE,82.36,1.7471,40.0573,Al-bustan Hotel And Restaurant.
9,Victoria,HK,82.33,22.2855,114.1577,Mini Central
10,Bandarbeyla,SO,77.47,9.4942,50.8122,JABIR HOTEL
14,Pangoa,PE,84.38,-12.1167,-73.0000,
23,Zavallya,UA,76.96,48.2135,30.0156,"Отель, бар."

# Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [25]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [26]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [27]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))